frontend/node_modules
frontend/dist
frontend/.tmp
frontend/.sass-cache
frontend/npm-debug.log
frontend/bower_components
frontend/app/scripts/marketplace-templates.js
frontend/app/scripts/ui-templates.js
public/*
module/Direct/view/index/*
module/Direct/view/layout/*
module/Direct/view/layout/*
module/Application/view/application/auth/login.phtml
.idea/
vendor/
data/logs/*
