.items-by-newspaper {
  margin-top: 20px;

  .comment {
    position: absolute;
    width: 300px;
    z-index: 6;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    background: #fff;
    padding: 4px 14px;
    left: 20px;

    h5 {
      text-align: left;
      text-transform: uppercase;
    }
  }

  .reg {
    line-height: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &.disabled,
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .panel-heading {
    background: #ffffff;
    padding: 10px;

    & .col-md-8 {
      line-height: 2;
    }
  }
  .panel-body {
    padding: 10px;

    .ad-item {

      .ad-remove {
        padding: 4px;
        margin-right: 5px;
      }
    }

    .resume {
      border: 2px solid #488fbe;
      margin: 0 auto 20px;
      padding: 0;

      table {
        margin: 0;

      }
      tr:first-child td:first-child {
        width: 120px;
        padding-left: 10px;
      }
      td {
        font-size: $font-size-small;
        padding: 10px 0;
        border: 0;

        &:last-child {
          background-color: #dff2fc;
          text-align: right;
          padding-right: 6px;
          padding-left: 6px;
          width: 80px;
        }
        // span > button {
        //   border: none;
        //   background: none;
        //   text-decoration: underline;
        // }
      }
      .label {
        margin-right: 3px;
      }
    }
    .bid-quantity {

      input.form-control {
        min-width: 38px;
        text-align: center;
        background: rgba(223, 242, 252, 0.8);
        border: 0;
        box-shadow: none;
      }
      button {
        background: none;
        border: 0;
        padding-left: 2px;
        padding-right: 2px;
        width: 32px;
        min-width: inherit;
        margin-right: 3px;

        &:focus {
          outline: none;
        }
      }
    }
    .row {
      margin: 0 auto;

      .ad-date {

        .input-group {
          width: 60%;
          margin: 0 auto;
        }
      }

      &.body {
        margin-top: 10px;

        & > div {
          border: 1px solid #ddd;
          border-right: 0;
          border-left: 0;
          line-height: 42px;
          input {
            line-height: normal;
          }
          &:last-child {
            border-right: 1px solid #ddd;
          }
          &:first-child {
            border-left: 1px solid #ddd;
          }
        }
        & > div.ad-date {
          line-height: 1;
          padding: 6px;
        }
      }
      &.foot {
        margin: 30px 0;

        div {
          padding-right: 0;

          span {
            margin-left: 10px;
            background-color: #ebebeb;
            color: #444;
            font-size: $font-size-base;
            font-weight: bold;
            border-radius: 0;
          }
        }
      }
    }
  }
}
// Datepicker
.mkp-datepicker {

  .month-secondary {
    button {
      background: $white;
      color: $brand-success;
      font-weight: bold;
    }
    button[disabled] {
      background: $lightest-gray;
      color: $light-gray;
      font-weight: normal;
    }
  }
  .month-selectable {
    button {
      background: $white;
      color: $brand-success;
      font-weight: bold;
    }
    button[disabled] {
      background: $white-gray;
      color: $light-gray;
      font-weight: normal;
    }
  }
  td:not(.month-selectable):not(.month-secondary) {
    button[disabled] {
      background: $white-gray;
      color: $light-gray;
      font-weight: normal;
    }
    button {
      background: $white;
      color: $brand-success;
      font-weight: bold;
    }
  }
}

.value-purchase {
  text-align: right;
  margin-top: 30px;

  & > span {
    padding: 10px 30px;
    background-color: #e1faed;

    & > span {
      margin-left: 30px;
      font-weight: bold;
    }
  }
}
.actions {
  text-align: right;
  margin: 60px 0;
}
.dropdown-menu:focus,
.dropdown-menu > li:focus,
.dropdown-menu > li > div:focus,
.dropdown-menu > li > div > table:focus {
  outline: none;
}
body > ul.dropdown-menu {
  padding: 0;
}
@media (min-width: 768px) {
  .modal-comment .modal-sm {
    width: 420px;
  }
}
