<div ng-hide="getCartData.error || getCartData.sent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Carrinho | Proposta</h2>
      </div>
      <div class="col-md-4">
        <div class="cart-button">
          <span class="cart-icon">
            <i class="ficon ficon-basket"></i>
          </span>
          <span class="cart-total">
            <span class="price-label">R$</span>
            <span class="price-value" ng-bind="cartTotal | currency:''"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-default items-by-newspaper" ng-repeat="bid in getCartData">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8"><i class="ficon ficon-doc-1"></i> Jornal: <span ng-bind="bid.description"></span></div>
          <div class="col-md-3">
            <button class="btn btn-info" ng-click="newComment(bid)"><i class="ficon ficon-comment"></i>observações gerais</button>
          </div>
          <div class="col-md-1 text-right"><button class="btn btn-info" ng-click="removeBid(bid)"><i class="ficon ficon-trash"></i></button></div>
        </div>
      </div>
      <div class="panel-body" ng-repeat="(key, item) in bid.items track by item.features.hash">
        <div class="resume">
          <table class="table">
            <tr>
              <td rowspan="2"><strong>características</strong></td>
              <td>caderno</td>
              <td>formato</td>
              <td>categoria</td>
              <td>dia da semana</td>
              <td>determinação</td>
              <td>região</td>
              <td ng-if="item.features.color.description == 'Cromia'">
                cor
              </td>
              <td ng-if="item.features.color.description == 'PB'">
                cor<br>
                <div class="polychrome black"></div>
                <div class="polychrome white"></div>
              </td>
              <td>quantidade</td>
            </tr>
            <tr>
              <td>
                <span class="label label-info" ng-bind="item.features.description"></span>
              </td>
              <td>
                <span class="label label-info" ng-bind="item.features.format.description"></span>
              </td>
              <td>
                <span class="label label-info" ng-repeat="category in item.features.category"><span ng-bind="category.description"></span></span>
              </td>
              <td>
                <span class="label label-info" ng-bind="item.features.week_day.description"></span>
              </td>
              <td>
                <span class="label label-info" ng-bind="item.features.determination.description"></span>
              </td>

              <td class="reg" ng-click="checkRegions(item.features)" ng-class="{ 'disabled': item.features.state.length < 1 }">
                <span class="label label-info">ver regiões</span>
              </td>

              <td ng-if="item.features.color.id == 2">
                <div class="polychrome cyan"></div>
                <div class="polychrome yellow"></div>
                <div class="polychrome magenta"></div>
              </td>
              <td ng-if="item.features.color.id == 1">
                <div class="polychrome black"></div>
                <div class="polychrome white"></div>
              </td>
              <td>
                <div class="input-group bid-quantity">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="delQty(item)"><i class="ficon ficon-minus-circled"></i></button>
                  </span>
                  <input type="text" class="form-control" ng-model="item.quantity" disabled="disabled">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addQty(item)"><i class="ficon ficon-plus-circled"></i></button>
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="ad-item">
          <div class="row head">
            <div class="col-md-6"><strong>itens adicionados</strong></div>
            <div class="col-md-1">observações</div>
            <div class="col-md-3 text-center">*data de publicação</div>
            <div class="col-md-2 text-center">valor</div>
          </div>
          <div class="row body" ng-repeat="ad in item.ads track by $index">
            <div class="col-md-6"><button class="btn btn-info ad-remove" ng-click="delQty(item, $index)" ng-class="{ 'disabled': $index == 0 }"><i class="ficon ficon-trash"></i></button> Anúncio <span ng-bind="$index + 1"></span></div>
            <div class="col-md-1 text-center">
              <button class="btn btn-info" ng-click="newComment(item, $index)"><i class="ficon ficon-comment"></i></button>
            </div>
            <div class="col-md-3 text-center ad-date">
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ dateFormat }}" ng-model="ad.date" is-open="dateOpened[item.hash + $index]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabledDates(date, mode, item.features.week_day.id)" ng-required="true" close-text="Fechar" clear-text="Limpar" current-text="Hoje" show-button-bar="false" datepicker-append-to-body="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDate($event, item.hash + $index)"><i class="ficon ficon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-2 text-center"><strong ng-bind="ad.price | currency:'R$ '"></strong></div>
          </div>
          <div class="row foot">
            <div class="col-md-12 text-right">
              <strong>Total R$</strong><span class="label" ng-model="itemSubTotal[item.hash]" ng-init="itemSubTotal[item.hash] = item.features.bid.value * item.quantity; cartTotal = cartTotal + itemSubTotal"><span ng-bind="item.features.bid.value *  item.quantity | currency:''"></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="value-purchase">
      <span>Total da compra
        <span ng-bind="cartTotalFn() | currency:''"></span>
      </span>
    </div>

    <div class="actions">
      <button type="button" class="btn btn-success" aria-expanded="false" ng-click="sendCart()">
        enviar proposta
      </button>
    </div>

  </div>
</div>
<div ng-show="getCartData.error">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Carrinho | Proposta</h2>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <alert type="{{ getCartData.type }}" alert-dismissable="false" ng-bind="getCartData.message"></alert>
      </div>
    </div>
  </div>
</div>
<div ng-show="getCartData.sent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Carrinho | Proposta</h2>
      </div>
      <div class="col-md-4">
        <div class="cart-button disabled">
          <span class="cart-icon">
            <i class="ficon ficon-basket"></i>
          </span>
          <span class="cart-total">
            <span class="price-label">R$</span>
            <span class="price-value" ng-bind="cartTotal | currency:''"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <alert type="{{ getCartData.type }}" alert-dismissable="false" ng-bind="getCartData.message"></alert>
      </div>
    </div>
  </div>
</div>
