<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ÚLTIMAS COMPRAS</h2>
    </div>
  </div>
</div>

<div class="container filters">
  <div class="row">
    <div class="col-md-9">
      <div class="row whitey">
        <!-- <div class="col-md-4"> -->
          <div class="filter-box">
            <span class="filter-label fort search-labels">Vendas</span>
            <select class="form-control whitey-sel" name="">
              <option>Janeiro</option>
              <option>Fevereiro</option>
              <option>Março</option>
              <option>Abril</option>
              <option>Maio</option>
              <option>Junho</option>
              <option>Julho</option>
              <option>Agosto</option>
              <option>Setembro</option>
              <option>outubro</option>
              <option>Novembro</option>
              <option>Dezembro</option>
            </select>
             <select class="form-control whitey-sel" name="">
              <option value="2014">2014</option>
              <option value="2015">2015</option>
            </select>
          </div>
          <div class="filter-box">
            <span class="filter-label">Jornal</span>
            <select class="form-control whitey-sel" name="">
              <option>Todos</option>
              <option ng-repeat="newspaper in newspapers | orderBy:'name'" value="{{newspaper.id}}">{{newspaper.name}}</option>
            </select>
          </div>
          <div class="filter-box">
            <span class="filter-label">Anunciante</span>
            <select class="form-control whitey-sel" name="">
              <option>Todos</option>
              <option ng-repeat="adv in advertisers | orderBy:'name'" value="{{adv.id}}">{{adv.name}}</option>
            </select>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row whitey">
        <div class="filter-box" style="padding: 10px">
          <span class="filter-label">total<br>mensal</span>
          <span  class="prices">
            R$<input type="text" value="{{ totalMonthly | currency:'' }}" readonly="readonly">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container infos-purchase">
  <div>
    Informações acumuladas até o dia {{ infoDate }} <button class="btn btn-info"><i class="ficon ficon-file-pdf"></i></button>
  </div>

  <div class="panel panel-default" ng-repeat="result in purchaseData | orderBy:'id'">
    <div class="panel-body" ng-click="isCollapsed = !isCollapsed">
      <div class="row line-info-purchase">
        <div class="col-md-6 description">
          <i class="ficon" ng-class="{ 'ficon-plus-circled': isCollapsed, 'ficon-minus-circled': !isCollapsed }"></i>
          <strong>{{ result.id }} | {{ result.name }} | {{ result.date }}</strong>
        </div>
        <div class="col-md-4 adv-name">anunciante <strong>{{ result.advertiser }}</strong></div>
        <div class="col-md-2 value">
          <span class="prices">
            R$<input type="text" value="{{ result.price | currency:'' }}" readonly="readonly">
          </span>
        </div>
      </div>
      <div class="detail-purchase" collapse="isCollapsed">
        <div class="by-newspape" ng-repeat="newspaper in result.newspapers | orderBy:'name'">
          <div>
            <i class="ficon ficon-doc-1"></i> {{ newspaper.name }}
          </div>
          <table>
            <thead>
              <tr>
                <td>caderno</td>
                <td>formato</td>
                <td>determinação</td>
                <td>data de publicação</td>
                <td>dia da semana</td>
                <td>valor</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in newspaper.items">
                <td>{{ item.category }}</td>
                <td>{{ item.format }}</td>
                <td>{{ item.determination }}</td>
                <td>{{ item.date }}</td>
                <td><span ng-repeat="day in item.weekdays">{{ day }}</span></td>
                <td>{{ item.price | currency:'' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
